.welcome-message{
    font: size 2em;
    background-color: rgba(0,255,0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}
.login-prompt {
    font: size 2em;
    background-color: rgba(255, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}